<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fxlcy.instrumentationDeception">

    <application>
        <activity
            android:name="cn.fxlcy.stub.ActivityStub$Standard"
            android:launchMode="standard" />
        <activity
            android:name="cn.fxlcy.stub.ActivityStub$SingleTop"
            android:launchMode="singleTop" />
        <activity
            android:name="cn.fxlcy.stub.ActivityStub$SingleTask"
            android:launchMode="singleTask" />
        <activity
            android:name="cn.fxlcy.stub.ActivityStub$SingleInstance"
            android:launchMode="singleInstance" />
    </application>
</manifest>